@mixin font-smoothing($value: on) {
  @if $value == on {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

$base-text-size: 16px;
$font-fredoka-one: 'Fredoka One', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-architects-daughter: 'Architects Daughter', cursive;
$font-flavors: 'Flavors', cursive;
$color-mint-green: hsla(143, 36%, 75%, 1);
$color-ochre: hsla(35, 77%, 62%, 1);
$color-beige: hsla(42, 36%, 91%, 1);
$color-rose: hsla(0, 82%, 65%, 1);
$color-main-font: hsla(32, 69%, 10%, 1);
