@import 'utility';

$base-text-size: 16px;
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$architects-daughter: 'Architects Daughter', cursive;
$mint-green: hsl(143, 36%, 75%);
$ochre: hsl(35, 77%, 62%);
$beige: hsl(42, 36%, 91%);
$rose: hsl(0, 82%, 65%);

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font-size: $base-text-size;
  font-family: sans-serif;
  color: $mint-green;
}
