@import 'utility';
@import 'contact';
@import 'home';
@import 'layout';
@import 'menu';
@import 'menusection';
@import 'menuitem';

html {
  height: 100%;
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font-size: $base-text-size;
  font-family: $font-raleway, sans-serif;
  color: $color-main-font;
  background-color: lighten($color-main-font, 80);
}

body,
#root,
.layout {
  min-height: 100vh;

  a {
    color: $color-rose;

    &:hover {
      color: darken($color-rose, 30);
    }
  }
}

// Contact Us

// Footer

.footer-logos {
  img {
    height: 30px;
    width: auto;
    padding: 10px;
  }
}

footer {
  background-color: $color-rose;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 1em;

  h2 {
    font-family: $font-fredoka-one;
    font-size: 2.5em;
  }

  ul {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      display: inline-block;
      padding: 5px;
    }
  }
}
